<p>Listado de Productos</p>
<div id="productsDiv"></div>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
	crossorigin="anonymous"
></script>