<h1>Admin de Artículos</h1>

<form>
	<label for="title">Nombre: </label>
	<input type="text" id="title" placeholder="Nombre del articulo..." />
</form>

<script src="/socket.io/socket.io.js"></script>
<script src="/index.js"></script>